@media (max-width: 590px ){

    #conteudo {
        width: 350px;
    }

}

@media (max-width: 404px ){

    #conteudo {
        width: 300px;
    }

}

@media (max-width: 348px ){

    #conteudo {
        width: 220px;
    }

}